<h1>{{ buyer }}</h1>




{% if buyer.image is not null %}

    <div class="text-center">
        <img src="{{ asset('profile_dir' ~ buyer.image) }}" width="100%" alt="">
    </div>


{% endif %}

<p>{{ buyer.presentation|nl2br }} </p>


</a>

