{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}

    <div class="col-md-8 col-lg-6 mx-auto bg-light" >
    <h1>Connexion</h1>

    <form method="post" class="">
        <tr class="form-group">
            <label>Email</label>
            <input type="text" name="_username" class="form-control"
                   value="{{ last_username }}">
        </tr>
        <tr class="form-group">
            <label>Mot de passe</label>
            <input type="password" name="_password" class="form-control">
        </tr>
        <tr class="text-right">
            <button type="submit" class="btn btn-primary m-5 ">
                Se connecter
            </button>
        </tr>
    </form>
    </div>
{% endblock %}