body {
    background-repeat: repeat;
    background-image: url(../img/background-3.gif);
    background-attachment: fixed;
    background-size: initial;
}

/*hauteur minimale et positionnement du footer*/
.maincontainer{
    min-height: calc(100vh - 112px);
    /* 112 px = hauteur cumulée du footer et de la navbar*/
}


.bg-custom{
    background: rgba(255, 255, 255, .8);

}


.btn-outline-primary{
    border-color: rgb(222, 89, 25);
    color:rgb(222, 89, 25);


}

.btn-outline-primary:hover{
    border-color: rgb(222, 89, 25);
    background : rgb(222, 89, 25);
    color: rgb(255, 255, 255);


}

.btn-primary{
    border-color: rgb(168, 74, 24);
    background : rgb(222, 89, 25);

}


.btn-primary:hover{
    border-color: rgb(168, 74, 24);
    background : rgb(168, 74, 24);
}

.form-control, .btn{
    border-radius: 0px;
}


.bg-navbar{

    background: rgb(222, 89, 25);
}
/*, .list-group-item,*/

.texte,label, input, .btn, a, .card {
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.form-group input{
    font-size: 18px;
}

.titre, h1, h2, h3, h4, h5, .navbar a, .nav a  {
    font-family: 'Press Start 2P', monospace;

}
.navbar a, .nav a, .btn-warning{
    font-size: inherit;
}

.image-small {
    height: 50px;
}
.bandeau1{
    border-radius: 5px;
}
.bandeau2 {
    border-radius: 5px;
    font-size: 120%;
    background-size: initial;
    background-image: url(../img/bandeaux/bandeau2.jpg);
}
.bandeau2 .bg-light{
    border-radius: 5px;
}

.bandeau3 {
    border-radius: 5px;
    font-size: 120%;
    background-size: initial;
    background-image: url(../img/bandeaux/bandeau3.jpg);
}