body {
    background-repeat: repeat;
    background-image: url(../img/background.gif);
    background-attachment: fixed;
    background-size: initial;



}

.bg-custom{
    background: rgba(255, 255, 255, .5);

}

body, html, main{
    height: 100%;
}


.bg-navbar{

    background: rgb(222, 89, 25);
}

.titre {
    font-family: 'Press Start 2P', cursive;
}
.texte{
    font-family: 'VT323', monospace;
    font-size: 25px;
}

.image-small {

    height: 50px;

}

