{% extends 'base.html.twig' %}

{% block body %}


<table class="table table-info table-bordered">
    <thead class="font-weight-bolder text-danger">
    <tr>
        <th scope="col">Nom du jeu</th>
        <th scope="col">Platforme</th>
        <th scope="col">Date de Sortie</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr>
        <td>
            <a class="text-dark" href="{{ path('app_game_detail', {'id': game.id}) }}">{{ game.title }}</a>
        </td>
        <td>
            <a class="text-dark">{{ game.platform}}</a>
        </td>
        <td>
            <a class="text-dark">{{ game.date.format("Y") }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
