{% extends 'base.html.twig' %}
{% block title %}Liste des jeux{% endblock %}
{% block body %}
<table class="table table-bordered bg-custom border-5">
    <thead class="font-weight-bolder titre">
    <tr>
        <th scope="col">Nom du jeu</th>
        <th scope="col">Plateforme</th>
        <th scope="col">Date de Sortie</th>
    </tr>
    </thead>
    <tbody class="texte">
    {% for game in games %}
    <tr>
        <td>
            <a class="text-dark" href="{{ path('app_game_detail', {'id': game.id}) }}">{{ game.title }}</a>
        </td>
        <td>
            <a class="text-dark">{{ game.platform}}</a>
        </td>
        <td>
            <a class="text-dark">{{ game.date.format("d-m-Y") }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
