{% extends 'base.html.twig' %}

{% block body %}
<ul>
    {% for game in games %}

           <li>
           {{ game }} - {{ game.date|date('Y') }}
           </li>


    {% endfor %}
</ul>

{% endblock %}
