{% extends 'base.html.twig' %}

{% block title %}Liste des vendeurs{% endblock %}

{% block body %}

    {% for seller in sellers %}

    <p>
        <a href="{{ path('app_seller_detail', {'id':  seller.id }) }}" class="">{{ seller }} - {{ seller.shopName }}</a>
    </p>

    {% endfor %}



{% endblock %}
