{% extends 'base.html.twig' %}

{% block body %}

    {{ buyer}} <br>


    {{ buyer.presentation}}<br>


    {%  if buyer.image %}
        <img src="{{ asset('/img/profile/' ~ buyer.image) }}" height="200px">
    {% endif %}
    <a class="btn btn-primary" href="{{ path('app_buyer_edit', {'id': app.user.id }) }}">Modifier</a>
{% endblock %}

