{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>
   {{ form.name }}
   {{ form.image }}
   {{ form.message }}
   {{ form.send }}
    <div class="text-right">
        <button type="submit" class="btn btn-info">
            Envoyer
        </button>
    </div>
{% endblock %}
