{% extends 'base.html.twig' %}
{% block title %}Mes annonces{% endblock %}
{% block body %}
    <h1>Mes annonces</h1>
    <div class="container">
    <table class="table table-bordered bg-custom col-md-4 col-12">
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('app_ad_detail', {'id': ad.id }) }}">{{ ad.title }}</a></td>
            </tr>
        </table>
        {% else %}
            <p>Vous n'avez pas encore d'annonce</p>
        {% endfor %}
        <a class="btn btn-primary col-12 col-md-4" href="{{ path('app_ad_add') }}">Ajouter une annonce</a>
    </div>
{% endblock %}


