{% extends 'base.html.twig' %}
{% block title %}Mes annonces{% endblock %}
{% block body %}
    <h1>Mes annonces</h1>
    {% for article in ads %}
        <tr>
            <td><a href="#">{{ article.title }}</a></td>
        </tr>
        {% else %}
            <p>Vous n'avez pas encore d'annonce</p>
    {% endfor %}
        <a class="btn btn-primary" href="{{ path('app_ad_add') }}">Ajouter une annonce</a>
{% endblock %}

