{% extends 'base.html.twig' %}
{% block title %}Bibliothèque{% endblock %}
{% block body %}
    <h1 class="text-center col-12 col-sm-8 bg-custom mx-auto h3 p-2">Rechercher un jeu</h1>
    <div class="col-12 col-sm-8 bg-custom mx-auto p-2 text-center">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <input class="right btn btn-primary" type="submit" value="Rechercher">
        {{ form_end(form) }}
    </div>
{% endblock %}

