{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(response) }}

    <ul>

    {% for game in response %}

<li>
        <a href="{{ path('app_api_gamedetails', {'id': game.id }) }}" class="">{{ game.name }} ( {{ game.first_release_date|date('Y')}} )</a>
</li>





    {% endfor %}

    </ul>

{% endblock %}
