{% extends 'base.html.twig' %}

{% block body %}
    <ul>

    {% for game in response %}

<li>
        <a href="{{ path('app_api_gamedetails', {'id': game.id }) }}" class="">{{ game.name }}

        </a>
</li>

    {% endfor %}

    </ul>


    {% if page > 0 and page < count/50 %}
    <a href="{{ path('app_api_games', {'name': request, 'scroll': page-1 }) }}"> << page précedente</a>
    {% endif %}


    {% if page+2 <count/50 %}
    <a href="{{ path('app_api_games', {'name': request, 'scroll': page+1 }) }}">page suivante>></a>
    {% endif %}


    {% endblock %}

